<app-navbar></app-navbar>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="error" class="alert alert-danger text-center" role="alert">
  Oops.. there was an error to load the page, please try again!
</div>
<div class="row mt-4 mx-auto">
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2 text-center d-flex justify-content-evenly" *ngFor="let user of users">
        <div class="card h-100">
            <img [src]="user.avatar"class="card-img-top" alt="user">
            <div class="card-body">
              <span class="card-title">{{user.email}}</span>
              <p class="card-text">{{user.first_name}} {{user.last_name}}</p>
            </div>
        </div>
  </div>
  <nav *ngIf="users.length > 0" class="d-flex mt-2 justify-content-center">
    <ul class="pagination">
      <li *ngIf="currentPage > 1" class="page-item page-item-cursor">
        <a class="page-link" (click)="previousPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" >{{currentPage}}</a></li>
      <li *ngIf="currentPage !== totalPages" class="page-item page-item-cursor">
        <a class="page-link" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>