.container {
    min-height: 100vh; /* height of the browser viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #5CB270;
    border-color: #5CB270;
}

h2 {
    color: #5CB270;
}

button:hover, button:focus {
    background-color: #82C26E;
    border-color: #82C26E;
}

input, input:focus {
    color: #82C26E;
}

.input-group-append-lg{
    width: 40px !important;
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}


